.root {
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-template-areas: "image content";
  justify-content: space-between;

  * {
    font-family: "Montserrat", "sans-serif";
  }
}

.root.imageRight {
  grid-template-columns: 5fr 3fr;
  grid-template-areas: "content image";
}

.image {
  max-width: 75%;
  grid-area: image;
}

.content {
  grid-area: content;
}